<a class="btn btn-primary" href="/grupo/prueba">
Agregar
</a>
<hr><div style="width:100%;">
<% items.forEach(function(item){%>
	<%if(item.profesor_id.nombre.length > 13){
		var size=20; 
	}else{
		var size=25;
	}
	%>
<div class="card" style="width: 14.3em;float: left;height: 13rem;margin:1%;margin-right: 2%;border-color: #98989B;">
  <div class="card-body">
  	<div style="text-align: center;border: 1px solid #D9D9E3;width: 60%;border-radius: 7%;font-style: inherit;"> Aula : <%=item.salon_id.nombre%></div>
  	<br>
  	<div style="text-align: center;">
    <h5 class="card-title" style="font-size:<%=size%>px;color: #644158;"><%=item.profesor_id.nombre%></h5>
    </div>
    <hr>
    <div style="text-align: center;border: 3px solid #565050;width: 38%;margin:auto;border-radius: 10%;">
    <% var x = item.postulantes.length %>
    <h1><%=x%></h1>
    </div>
    <% if(x < item.salon_id.cantPerm || x != item.salon_id.cantPerm){%>
    <div class="text-center" style="float: right;margin-top: -32px;">
	  	<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm<%=item._id%>">
	  	<i class="fas fa-fw fa-plus"></i>
	  </a>
	</div>
	<%}%>	
  </div>
</div>

<div class="modal fade" id="modalRegisterForm<%=item._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Agregar Alumno</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/grupo/postulante"> 
      <input type="hidden" name="id" value="<%=item._id%>">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Codigo</label>
          <input type="number" id="orangeForm-name" class="form-control validate" name="codigo" min="100000" max="999999" required>
        </div>
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="orangeForm-email">Nombre</label>
          <input type="text" id="orangeForm-email" name="nombre" class="form-control validate" maxlength="150" pattern="[A-Za-z\s]+" required>   
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-deep-orange" value="Agregar">
      </div>
      </form>
    </div>
  </div>
</div>

<%});%>
</div>
